<script type="text/javascript">

    function Uploadimage(id,image, uiUpdateFunction){
        formData = new FormData();
        formData.append("image",image)
        payload={
            "csrfmiddlewaretoken": "{{ csrf_token }}",
			"user_id": id,
            "image":formData
        }
        $.ajax({
            type:'POST',
            dataType:'json',
            url: "{% url 'account:add_image' %}",
            timeout:5000,
            data:payload,
            success:function(data){
                console.log("SUCCESS",data)
                if(data['response'] == "successfully uploaded image."){

                }
                else if (data['response'] !=null){
                    alert(data['response'])
                }
            },
            error:function(data){
                console.error("ERROR...",data)
                alert(`Something went wrong ${data.response}`)
            },
            complete:function(data){
                uiUpdateFunction()
            }
        })
    }
</script>